*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightgrey;
}

.contentBox{
  margin: 10% auto;
  height: 1200px;
  width: 80%;
  background: white;
}

header{
  position: relative;
  width: 100%;
  height: 250px;
  background: black;
}

.header-img{
  position: absolute;
  width: 100%;
  height: 85%;
  border: solid 6px white;
}

nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: red;
}
