*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightgrey;
}

.contentBox{
  margin: 10% auto;
  /* height: 1200px; */
  width: 80%;
  /* background: white; */
}

header{
  position: relative;
  width: 100%;
  height: 250px;
  background: black;
  margin-bottom: 1%;
}

.header-img{
  position: absolute;
  width: 100%;
  height: 85%;
  border: solid 6px white;
}

nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: red;
}

main{
  position: relative;
  width: 100%;
  margin-bottom: 2%;
  /* height: 200px; */
  background: yellowgreen;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

main aside{
  float: left;
  width: 25%;
  height: 400px;
  background: blue;
}

.center{
  float: left;
  width: 50%;
  /* height: 200px; */
  background: orange;
}

footer{
  width: 100%;
  height: 100px;
  background: black;
}

.left article{
  width: 90%;
  background: white;
}

.center article{
  margin: auto;
  width: 90%;
  background: white;
}
