*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima, sans-serif;
}

body{
  background: lightgrey;
  background-image: url("immagini/legno.png");

}

.contentBox{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  /* height: 1200px; */
  width: 80%;
  /* background: white; */
}

header{
  position: relative;
  width: 100%;
  height: 400px;
  /* background: black; */
  margin-bottom: 1%;
}

.header-img{
  position: absolute;
  width: 100%;
  height: 360px;
  border: solid 6px white;
  background-image: url("immagini/default-header.jpeg");
  background-size: cover;
}

.title{
  /* text-align: center; */
  color: white;
  text-transform: uppercase;

}

.title h1{
  display: block;
  border: solid 4px white;
  padding: 1%;
  font-size: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.title h3{
  color: white;
  font-size: 28px;
  display: block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}



nav{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* background: #666666; */
}

main{
  position: relative;
  width: 100%;
  margin-bottom: 2%;
  /* height: 200px; */
  /* background: yellowgreen; */
}

nav .menu-index{
  padding: 1%;
  float: left;
  height: 100%;
  display: inline-block;
  width: 14.2%;
  background: #666666;
}

nav p{
  font-size: 12px;;
  text-transform: uppercase;
  /* display: block;
  position: relative;
  top: 35%;
  margin: 0 auto; */
}

nav a{
  text-decoration: none;
  color: white;
}

main aside{
  float: left;
  width: 20%;
  /* height: 400px; */
  /* background: blue; */
}

.center{
  float: left;
  width: 60%;
  /* height: 200px; */
  /* background: orange; */
}

/* Classi generali per gli articoli delle colonne */
article{
  position: relative;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  background: white;
  margin-bottom: 10%;
}

.center article h1{
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 2px 2px lightgrey;
}

article h1{
  margin-bottom: 40px;
  color: #504741;
}

article p{
  line-height: 32px;
}

.center article{
  margin: auto;

}

.right article{
  float: right;

}

main::after{
  content: "";
  display: table;
  clear: both;
}

.linkList .row{
  /* height: 10px; */
  width: 70%;
  display: block;
  /* margin-bottom: 10px; */
}

.linkList .row::after{
  content: "";
  display: table;
  clear: both;
}

 .left .linkList a{
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: green;
}

.left .linkList h1{
  float: left;
  display: inline;
  position: relative;
  left: 10%;
  /* margin-top: -15%; */
  margin-left: 9%;
}

.linkList .linklist-ico{
  /* height: 100%;
  width: 100%; */
  float: left;
  display: inline;
  position: absolute;
  top: 5%;

}

footer{
  border-radius: 5px;
  padding: 0 1%;
  width: 100%;
  height: 200px;
  background: white;
}

footer .copyR{
  width: 100%;
  height: 40%;
  border-bottom: solid 2px grey;
}

.copyR p{
  text-align: center;
  font-style: italic;
  color: lightgrey;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.contact{
  padding: 2% 15%;
  width: 100%;
  height: 60%;
}

.iconeSocial{
  float: left;
  display: inline-block;
  position: relative;
  margin: 2% 14%;

}
